<div class="banner_sticky" style>
  <div class="logo-container">
     <%= image_tag 'logo.jpg', alt: 'Logo', class: 'logo' %>
  </div>
    <div class="banner-links">
      <%= link_to "Lunch", lunch_path, class: "invisible-button" %>
      <%= link_to "Événements", evenements_path, class: "invisible-button" %>
      <%= link_to "Plats Signatures", plats_path, class: "invisible-button" %>
      <%= link_to "Photos", photos_path, class: "invisible-button" %>
      <%= link_to "Contact", contact_path, class: "invisible-button" %>
    </div>
</div>
  <div class="description_title">
    <h1 class="entry-title">Le 6ième Continent vous offre un voyage culinaire, de la streetfood à la bistronomie</h1>
  </div>
    <div class="image-container">
      <%= image_tag 'tataki.jpg', alt: 'Tataki Image', class: 'centered-image' %>
    </div>
    <h1 class="entry-title">Notre cuisine gastro-nomade se demarque par ses influences asiatiques, mediterranien et orientales. Une cuisine passionnée par le voyage, une cuisine de partage, basée aux produits de saison & locaux.</h1>

        <%# <h3>Cuisine du Monde</h3>
       <p>Explorez nos événements, plats signatures et photos.</p> %>
