<!DOCTYPE html>
<html>
<head>
  <title>Le 6ieme Continent</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_tag 'application', 'data-turbolinks-track': 'reload' %>
  <style>
    .banner_sticky {
      background-image: linear-gradient(180deg, rgba(0, 0, 0, .96) 0, rgba(0, 0, 0, .4) 100%);
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1000;
    }

    .banner_sticky.navbar.navbar-dark.bg-dark.fixed-top.black {
      background-color: black !important;
    }

    .logo {
      max-width: 160px;
      height: auto;
      display: inline-block;
    }

    .social-icons {
      color: #999;
      font-size: 1.2em;
    }

    .social-icons:hover {
      color: #EEEEEE;
    }

    .fa-facebook-f:before {
      margin-right: 20px;
    }

    .fa-instagram:before {
      margin-right: 10px;
    }

    .social-icons a {
      margin-left: 10px;
    }

    .content {
      padding-top: 100px;
    }

    .banner_sticky.black {
      top: 40px;
    }

    .nav-link.invisible-button {
      font-weight: 200;
      font-family: 'Poppins', sans-serif;
      color: white !important;
      text-decoration: none;
      cursor: pointer;
      font-size: 14px;
      padding: 14px 0px;
    }

    .nav-link.invisible-button:hover {
      color: rgb(88, 88, 104);
      transition-duration: 0.4s;
      transition-timing-function: ease-in-out;
    }
  </style>
</head>

<body>
  <!-- Bannière blanche -->
  <div class="container-fluid bg-white border-bottom fixed-top">
    <div class="row">
      <div class="col text-right py-2">
        <a href="https://www.facebook.com" target="_blank" class="social-icons">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://www.instagram.com" target="_blank" class="social-icons">
          <i class="fab fa-instagram"></i>
        </a>
      </div>
    </div>
  </div>

  <!-- Bannière noire -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top black banner_sticky">
    <div class="container-fluid text-center">
      <a class="navbar-brand" href="<%= root_path %>">
        <%= image_tag 'logo.jpg', alt: 'Logo', class: 'logo mx-auto d-block' %>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <%= link_to "Lunch", lunch_path, class: "nav-link invisible-button" %>
          </li>
          <li class="nav-item">
            <%= link_to "Événements", evenements_path, class: "nav-link invisible-button" %>
          </li>
          <li class="nav-item">
            <%= link_to "Plats Signatures", plats_path, class: "nav-link invisible-button" %>
          </li>
          <li class="nav-item">
            <%= link_to "Photos", photos_path, class: "nav-link invisible-button" %>
          </li>
          <li class="nav-item">
            <%= link_to "Contact", contact_path, class: "nav-link invisible-button" %>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Contenu principal -->
  <div class="content">
    <%= yield %>
  </div>

  <%= javascript_include_tag 'application' %>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
