<!DOCTYPE html>
<html>
<head>
  <title>Le 6ieme Continent</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_tag 'application', 'data-turbolinks-track': 'reload' %>
  <style>

.banner_sticky {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .96) 0, rgba(0, 0, 0, .4) 100%) !important;
  position: fixed;
  top: 0;             /* Positionne l'élément en haut de la page */
  left: 0;            /* Positionne l'élément sur le bord gauche */
  width: 100%;        /* Prend toute la largeur de la page */
  z-index: 1000;      /* Assure que la bannière est au-dessus des autres éléments */
  }


.banner_sticky {
  margin-bottom: 0;
  z-index: 100000;
  // position: relative;
}

.banner_sticky {
  background-position: 50%;
  background-size: cover;
}

.banner-links {
  text-align: center;
}

.banner-links a {
  display: inline-block; /* Permet aux liens d'être alignés horizontalement */
}

.description_title {
  padding-top: 150px;
}

.banner_sticky.navbar.navbar-dark.bg-dark {
  background-color: black !important;
}


    .logo {
     max-width: 200px;
     height: auto;
     display: inline-block;
    }

    /* Assurez-vous que le contenu principal commence après la bannière */
    body {
      padding-top: calc(50px + 10px); /* Ajustez en fonction de la hauteur de la bannière */
    }

    .fixed-top {
      padding: 5px 0; /* Ajustez cette valeur pour réduire la hauteur */
    }

    .social-icon {
      color: #000;
      margin-left: 10px;
      font-size: 1.2em;
    }
  </style>
</head>

<body>
  <div class="container-fluid bg-white border-bottom">
    <div class="row">
      <div class="col text-right py-2">
        <a href="https://www.facebook.com" target="_blank" class="social-icon">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://www.instagram.com" target="_blank" class="social-icon">
          <i class="fab fa-instagram"></i>
        </a>
      </div>
    </div>
  </div>

  <!-- Banner Section -->
  <div class="banner_sticky navbar navbar-dark bg-dark fixed-top">
    <div class="container-fluid text-center">
      <div class="row w-100">
        <div class="col-12">
          <div class="logo-container text-center">
            <%= link_to root_path do %>
              <%= image_tag 'logo.jpg', alt: 'Logo', class: 'logo mx-auto d-block' %>
            <% end %>
          </div>
        </div>
        <div class="col-12">
          <div class="navbar-nav justify-content-center">
            <ul class="navbar-nav">
              <li class="nav-item"><%= link_to "Lunch", lunch_path, class: "nav-link invisible-button" %></li>
              <li class="nav-item"><%= link_to "Événements", evenements_path, class: "nav-link invisible-button" %></li>
              <li class="nav-item"><%= link_to "Plats Signatures", plats_path, class: "nav-link invisible-button" %></li>
              <li class="nav-item"><%= link_to "Photos", photos_path, class: "nav-link invisible-button" %></li>
              <li class="nav-item"><%= link_to "Contact", contact_path, class: "nav-link invisible-button" %></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="content">
    <%= yield %>
  </div>

  <%= javascript_include_tag 'application' %>
</body>
</html>
